@keyframes fly {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    animation: fly 5s infinite, spin 2s infinite;
  }
  