<div class="toolbar" role="banner">
    <a routerLink="/">
      <img width="400" alt="Angular Logo" src="../assets/images/logo-long-hand-white.svg"/>
    </a>
      <div class="spacer"></div>
      <a aria-label="cardistry on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/results?search_query=cardistry" title="YouTube recherche cardistry">
        <img width="48" src="../../assets/images/ace-hand-tr.svg" alt="logo de carte de poker pour représenter le menu">
      </a>
  </div>
  
